@import "colors.css";

* {
  font-family: "FiraMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
  border-radius: 10px;
}

window#waybar {
  background: transparent;
  padding-left: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left > * > * {
  padding: 0 10px;
  margin: 0px 4px;
  background: @bg-color;
  border: 2px solid @border-color;
  color: @text-color;
}

.modules-center > * > * {
  /* padding: 0 10px;
  margin: 0px 4px; */
  background: @bg-color;
  border: 2px solid @border-color;
}

.modules-right > * > * {
  padding: 0 10px;
  margin: 0px 4px;
  background: @bg-color;
  border: 2px solid @border-color;
  color: @text-color;
}

/* window#waybar > * {
  background-color: red;
  border: 2px solid white;
} */

#network {
  transition: none;
}

#pulseaudio {
  transition: none;
}

#clock {
  transition: none;
}

#memory {
  transition: none;
}
#cpu {
  transition: none;
}

#tray {
  transition: none;
}

#custom-launcher {
  padding: 0 4px;
  padding-left: 9px;
  font-size: 24px;
  transition: none;
}
#window {
  transition: none;
}
#custom-power {
  font-size: 20px;
  transition: none;
}

#custom-wallpaper {
  padding-left: 12px;
  transition: none;
}

#custom-updates {
  transition: none;
}

#custom-media {
  transition: none;
}

#language {
  transition: none;
}

#workspaces {
  color: @text-color;
}

#workspaces button {
  font-size: 24px;
  font-weight: 900;
  border-radius: 8px;
}

#workspaces button.visible {
  background-color: rgba(255, 255, 255, 0.428);
  color: @text-color;
}

#workspaces button.visible.empty {
  color: @text-color;
}

#workspaces button.active {
  background-color: rgba(255, 255, 255, 0.753);
  color: black;
}

#workspaces button.active.empty {
  color: @text-color;
}

#workspaces button.empty {
  color: rgba(128, 128, 128, 0.616);
}
